* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}


.splash-screen{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    position: fixed;
    top: 0;
    z-index: 111111111111111111111;
    animation-name: splash;
    animation-duration: 4s;
    animation-timing-function: all linear;
    animation-iteration-count: 1;
    opacity: 0;
    transform: translateX(-1700px);


}

.splash-img{
    animation-name: splash-img;
    animation-duration: 4s;
    animation-timing-function: all linear;
    animation-iteration-count: 1;
}

@keyframes splash{
    0%{
        transform: translateX(0px);
        display: flex !important;
        opacity: 1;

    }

    99.99%{
        opacity: 1;
        transform: translateX(0px);

    }

    100%{
        display: none;
        transform: translateX(-1700px);
    }

}

@keyframes splash-img{
    0%{
        scale: .5;
    }

    50%{
        scale: 1;
    }

    100%{

    }
}

/* main-container */
.main-container {
    width: 100%;

}

.main-container .heding {
    width: 100%;
    height: 60px;
    background-color: teal;
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 0px 70px;
}

.heding span {
    color: white;
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.heding span i {
    font-size: 20px;
}

.heding .icons {
    font-size: 20px;
    margin-left: 61%;
    display: flex;
    gap: 20px;

}

.heding .icons i {
    transition: .2s linear;

}

.heding .icons i:hover {
    transform: translateY(-5px);
    transition: .2s linear;
}

/* first-section-container */
/* .first-section-container{
    width: 100%;
    border: 2px solid crimson;
    background-color:teal;
    padding: 0px 60px;

} */

.first-section-container {
    width: 100%;
    display: flex;
    /* background-color: rgb(175, 246, 246); */
    background: url(man-entering-room-with-coworkers.jpg);
    background-size: cover;
    flex-direction: column;
    padding: 0px 60px;
    position: relative;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 128, 128);
    background: linear-gradient(81deg, rgba(0, 128, 128, 0.9220938375350141) 0%, rgba(0, 128, 128, 0) 100%);
}

.nav-bar {
    /* border: 4px solid black; */
    width: 100%;
    height: 110px;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    justify-content: space-around;
    position: relative;
    z-index: 1111111111;
}

.nav-bar img {
    width: 13%;
}

.nav-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 65%;
    /* border: 2px solid blueviolet;  */


}

.nav-bar ul li {

    list-style: none;
    /* position: relative; */
}

.nav-bar ul li a {

    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding: 42px 37px;
    position: relative;
    transition: .3s linear;

}

/* pop-up */
ul.pop-up {
    width: 20%;
    display: flex;
    justify-content: center!important;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    opacity:0;
    z-index: -1;
    margin-top: 3%;
    border: 1px solid red;
    left: 10;
    gap: 0px;
    position: absolute;
    background-color: white;
    transition: all .2s linear;

}

.nav-bar ul li:hover ul.pop-up {
    opacity: 1;
    z-index: 1111111;
    transition: all .2s linear;
}


ul.pop-up ul {
    font-size: 20px;
}


ul.pop-up li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.pop-up li a {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;

}

ul.pop-up li a:hover {
    background-color: maroon;
    border: none;
    color: white;
}


.nav-bar ul li a:hover {
    background-color: teal;
    color: white;
    padding: 42px 37px;
    transition: .3s linear;
}

.nav-bar button {
    color: white;
    background-color: teal;
    border: none;
    font-weight: bold;
    font-size: 17px;
    padding: 17px 30px;
    border-radius: 25px;
    transition: .3s linear;
}

.nav-bar button:hover {
    background-color: rgb(5, 48, 48);
    transform: translateY(-10px);
    transition: .3s linear;
}

.nav-bar i {
    font-size: 40px;
    transition: .3s linear;

}


.first-section {
    /* border: 4px solid blueviolet; */
    width: 100%;
    height: 80vh;
    display: flex;
    z-index: 1111111111;

}

.first-section .left {
    /* background-color: blueviolet;s */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 90px 0px;
}

.left span {
    color: rgb(255, 248, 236);
}

.left h1 {
    color: white;
    font-size: 65px;
    width: 75%;
    animation-name: h1;
    animation-duration: 1.5s;
    animation-timing-function: all linear;
    animation-iteration-count: inherit;

}

@keyframes h1 {

    0% {
        transform: translateY(700px);
        opacity: 0;

    }

    50% {
        opacity: 0;
    }

    100% {

        transform: translatey(0px);
        opacity: 1;
    }

}

.left h1 span {
    color: teal;
    background-color: rgb(255, 248, 236);
}

.left p {
    color: white;
    font-size: 20px;
    width: 95%;
}

.left .buttons {
    /* border: 1px solid red; */
}

.buttons button {
    padding: 12px 24px;
    color: teal;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    transition: .4s linear;

}

.buttons button:hover {
    transform: translateY(-8px);
    transition: .4s linear;
}

.buttons button:nth-child(2) {
    background: none;
    color: white;
}

/* .first-section .right {
    width: 50%;
} */

.first-section .right {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: start;


}

.floating-div {
    width: 300px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    border-radius: 45px;
    position: relative;
    overflow: hidden;
    rotate: 90deg;
    top: 200px;
    right: -120px;
    animation-name: floating-div;
    animation-duration: 1.5s;
    animation-timing-function: all linear;
    animation-iteration-count: inherit;

}


@keyframes floating-div {

    0% {
        transform: translateY(-700px);
        opacity: 0;

    }

    100% {

        transform: translatey(0px);
        opacity: 1;
    }

}

.floating-div:hover .color-change {
    left: 83px;
}

.color-change {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -213px;
    background-color: darkslategrey;
}

.floating-div h1 {
    color: white;
    z-index: 1111111111111111;
    transition: .5s all linear;
    font-size: 18px;
}

.floating-div h1:hover {
    margin-left: 20px;
    transition: .5s all linear;
}


.first-cards {
    width: 70%;
    height: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    z-index: 1111111111;
    animation-name: ani;
    animation-duration: 1.5s;
    animation-timing-function: all linear;
    animation-iteration-count: inherit;



}

@keyframes ani {

    0% {
        transform: translateX(700px);
        opacity: 0;

    }

    100% {

        transform: translateX(0px);
        opacity: 1;
    }

}

/* 1 */

.house {
    width: 100%;
    height: 250px;
    border-top-left-radius: 50px;
    position: absolute;


}

.first-cards .card-1 {
    width: 33.5%;
    border-top-left-radius: 50px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.card-1 i {
    display: flex;
    position: absolute;
    color: teal;
    padding: 20px 22px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 1111111111111111111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    background-color: teal;
    /* z-index1111; */
    animation-name: box;
    animation-duration: 1.5s;
    animation-timing-function: all linear;
    animation-iteration-count: infinite;

}

.box2 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    background-color: teal;
    /* z-index1111; */
    opacity: 0;
    animation-name: box;
    animation-duration: 1.8s;
    animation-timing-function: all linear;
    animation-iteration-count: infinite;

}

@keyframes box {
    0% {
        width: 1px;
        height: 1px;
        opacity: 1;
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: .3;
    }

}


/* 2 */
.first-cards .card-2 {
    width: 33.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #264653;
    gap: 10px;
    /* flex-direction: column; */
}



.icon {
    width: 15%;
    height: 120px;
}

.card-2 .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 55%;
}

.card-2 .text h2 {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.card-2 .text span {
    font-size: 18px;
    width: 90%;
    color: rgb(162, 162, 162);
    font-weight: normal;

}

/* 3 */
.first-cards .card-3 {
    width: 33.5%;
    border-top-right-radius: 50px;
    background-color: #faeee7;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 0px 60px;

}

.number-counter::after {
    font: 800 40px system-ui;
    content: counter(count);
    animation: counter 4s linear 1 alternate;
    counter-reset: count 852;
    color: teal;
}

@keyframes counter {
    0% {
        counter-increment: count 852;
    }

    10% {
        counter-increment: count -100;
    }

    20% {
        counter-increment: count -250;
    }

    30% {
        counter-increment: count -300;
    }

    35% {
        counter-increment: count -350;
    }

    40% {
        counter-increment: count -450;
    }

    50% {
        counter-increment: count -500;
    }

    60% {
        counter-increment: count -650;
    }

    70% {
        counter-increment: count -700;
    }

    80% {
        counter-increment: count -750;
    }

    90% {
        counter-increment: count -800;
    }

    100% {
        counter-increment: count 0;
    }
}


.card-3 h3 {
    font-size: 22px;

}

.card-3 p {
    color: gray;
}


/* second-section-container */
.second-section-container {
    width: 100%;
    height: 120vh;
    display: flex;
    background-color: rgba(244, 243, 243, 0.427);
}

.second-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 60px;
    /* justify-content: center; */
}

.second-left img {
    position: absolute;
    width: 72%;
    border-radius: 30px;

}


.second-left .Business {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 153, 153);
    width: 42%;
    height: 110px;
    border-radius: 30px;
    left: 55%;
    bottom: 50%;
    animation-name: Business;
    animation-duration: 1.8s;
    animation-timing-function: all linear;
    animation-iteration-count: inherit;
}

@keyframes Business {
    0% {
        transform: translateX(-700px);
        opacity: 0;

    }

    100% {

        transform: translateX(0px);
        opacity: 1;
    }
}

.icon-section {

    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-section i {
    font-size: 40px;
}

.text-section {
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    justify-content: center;

}

.text-section h2 {
    color: white;
    font-size: 20px;

}

.text-section span {
    color: white;
    padding-top: 10px;
}

.second-right {
    width: 50%;
}


.second-left .contect {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #264653;
    width: 42%;
    height: 110px;
    border-radius: 30px;
    left: 55%;
    bottom: 33%;
    animation-name: contact;
    animation-duration: 1.8s;
    animation-timing-function: all linear;
    animation-iteration-count: inherit;
}

@keyframes contact {
    0% {
        transform: translateX(-700px);
        opacity: 0;

    }

    100% {

        transform: translateX(0px);
        opacity: 1;
    }
}

.icon-section {

    width: 15%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-section i {
    font-size: 40px;
}

.text-section {
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    justify-content: center;

}

.text-section h2 {
    color: white;
    font-size: 20px;

}

.text-section span {
    color: white;
    padding-top: 10px;
}


.second-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 0px 30px;
}

.second-right span {

    color: rgb(5, 126, 126);
    font-weight: bold;
}


.second-right h1 {
    font-size: 50px;
    width: 90%;
    color: rgba(0, 0, 0, 0.837);
    animation-name: ani-h1;
    animation-duration: 1.8s;
    animation-timing-function: all linear;
    animation-iteration-count: inherit;

}

@keyframes ani-h1 {
    0% {
        transform: translatey(200px);
        opacity: 0;

    }

    100% {

        transform: translatey(0px);
        opacity: 1;
    }
}




.second-right p {

    color: gray;
    font-size: 20px;
    width: 100%;

}

.buttons-2 {
    display: flex;
    gap: 10px;
}

.buttons-2 button {
    font-weight: bold;
    font-size: 20px;
    padding: 22px 25px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    border: none;

}

.buttons-2 button:nth-child(2) {
    color: teal;
    background: none;
    font-size: 17px;
    transition: .3s linear;

}

.buttons-2 button:nth-child(2):hover {
    color: #264653;
    transform: translateY(-5px);
    transition: .3s linear;
}

.second-right-2 {
    border-top: 1px solid rgb(117, 117, 117);
    width: 100%;
    height: 120px;
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.sing-img {
    width: 30%;
    height: 100px;
    margin-top: 50px;
}

.sing-img img {
    width: 70%;
}

.right-text {
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;

}

.right-text h2 {
    color: rgba(0, 0, 0, 0.89);
}

.right-text span {
    color: teal;
    font-weight: normal;
}

/* therd-section-container */
.therd-section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0px 50px;

}

.therd-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.therd-left span {
    color: rgb(3, 163, 163);
    font-size: 15px;
    font-weight: 600;
    padding-top: 70px;
    font-weight: normal;

}

.therd-left h1 {
    font-size: 50px;
    width: 95%;
    color: rgba(0, 0, 0, 0.717);

}

.therd-left p {

    color: gray;
    font-size: 20px;
}

.left-buttons-2 {}

.left-buttons-2 button {
    border: none;
    background-color: rgb(6, 173, 173);
    color: white;
    font-size: 17px;
    font-weight: 400;
    border-radius: 25px;
    padding: 15px 32px;

}

.left-buttons-2 button:nth-child(2) {
    background: none;
    color: rgb(6, 173, 173);
    font-weight: bold;
}

.therd-cards {
    width: 95%;
    height: 230px;
    border-radius: 30px;
    display: flex;
    margin-top: 4%;
}

.therd-cards .therd-card-1 {
    width: 60%;
    height: 220px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.therd-card-1 .th {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
}

.therd-card-1 i {
    display: flex;
    position: absolute;
    color: teal;
    padding: 20px 22px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 1111111111111111111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    background-color: teal;
    /* z-index1111; */
    animation-name: box;
    animation-duration: 1.5s;
    animation-timing-function: all linear;
    animation-iteration-count: infinite;

}

.box2 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    background-color: teal;
    /* z-index1111; */
    opacity: 0;
    animation-name: box;
    animation-duration: 1.8s;
    animation-timing-function: all linear;
    animation-iteration-count: infinite;

}

@keyframes box {
    0% {
        width: 1px;
        height: 1px;
        opacity: 1;
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: .3;
    }

}

.therd-cards .therd-card-2 {
    width: 45%;
    height: 220px;
    background-color: #264653;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    justify-content: center;
    padding: 0px 25px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.therd-cards .therd-card-2 i {
    font-size: 50px;
}

.therd-cards .therd-card-2 p {
    color: white;
    font-size: 20px;
    width: 95%;
    font-family: cursive;
}

.therd-right {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 30px;
    position: relative;
}

.interior {

    /* border: 4px solid greenyellow; */
    width: 44%;
    height: 570px;
    border-radius: 30px;
    margin-bottom: 10%;
    margin-left: 7%;
}

.arrow {
    position: absolute;
    width: 12%;
    top: 48%;
    left: 47%;
    border-radius: 30px;
}

.modern {
    /* border: 4px solid slateblue; */
    width: 44%;
    height: 570px;
    border-radius: 30px;
    margin-bottom: 1%;

}

/* four-section-container */
.four-section-container {
    width: 100%;
    height: 79vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(interior-design-of-dining-room-1024x1024.jpg);
    background-size: cover;
    align-items: start;
    background-attachment: fixed;
    padding: 0px 50px;
    gap: 30px;
    background-color: cadetblue;
    position: relative;
}

.gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 128, 128);
    background: linear-gradient(81deg, rgba(0, 128, 128, 0.9220938375350141) 0%, rgba(0, 128, 128, 0) 100%);
}

.four-section-container span {
    color: rgb(240, 232, 221);
    font-weight: bolder;
    padding-top: 10%;
    z-index: 111111111;
}

.four-section-container h1 {
    color: white;
    font-size: 50px;
    width: 49%;
    z-index: 111111111;

}

.four-section-container p {
    color: white;
    font-size: 20px;
    color: rgb(245, 245, 245);
    width: 50%;
    z-index: 111111111;

}


.four-cards {
    width: 100%;
    height: 210px;
    border-radius: 40px;
    display: flex;
    margin-top: 3% !important;
    z-index: 111111111;

}

/* one */
.four-cards .card-one {
    width: 30%;
    height: 200px;
    background: url(interior-design-3.jpg);
    background-size: cover;
    z-index: 1111111111;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    overflow: hidden;
}


.four-icon {
    /* border: 2px solid rgb(10, 255, 59); */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 128, 128, 0.352);
    
}

.four-icon img {
    width: 40%;
    margin-bottom: 55%;
}

.four-text {
    /* border: 2px solid brown; */
    width: 71%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color:rgba(0, 128, 128, 0.352);
    gap: 15px;
}

.four-text h1 {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
}

.four-text p {
    font-size: 20px;
    color: rgb(220, 220, 220);
    width: 90%;
}

/* two */
.four-cards .card-two {
    width: 30%;
    height: 200px;
    /* background: url(media/interior-design-3.jpg);
    background-size: cover; */
    background-color: white;
    z-index: 1111111111;
    display: flex;
    overflow: hidden;

}

.four-two-icon {
    /* border: 2px solid rgb(10, 255, 59); */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four-two-icon img {
    width: 40%;
    margin-bottom: 55%;
}

.four-two-text {
    /* border: 2px solid brown; */
    width: 71%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
}

.four-two-text h1 {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    color: rgba(0, 0, 0, 0.756);
}

.four-two-text:hover .h1{
    color: white;
}
.four-two-text p {
    font-size: 20px;
    color: gray;
    width: 90%;
}

.four-two-text:hover .p{
    color: white;
}

.four-cards .card-two:hover {
    background: url(3d-house-interior-1.jpg);
    background-size: cover;
    color: white;
    background-color: #26465348;
    background-color: #26465348;
}

/* three */
.four-cards .card-three {
    width: 30%;
    height: 200px;
    background-color: #264653;
    z-index: 1111111111;
    display: flex;
    overflow: hidden;
}

.four-cards .card-three:hover {
    background: url(interior-design-1-1.jpg);
    background-size: cover;

}

/* four */
.four-cards .card-four {
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: teal;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card-four span {
    font-size: 22px;
    padding-bottom: 10%;
    color: white;
    transition: .4s linear;

}

.card-four span:hover{
    transform: translateY(-8px);
    transition: .4s linear;
    color: #faeee7;
}

/* five-section-container */
.five-section-container{
    width: 100%;
    height: 110vh;
    /* border: 5px solid red; */
    margin-top: 10%;
    display: flex;
    padding: 0px 40px;
}

.five-left{
    /* border: 5px solid darksalmon; */
    width: 50%;
    position: relative;
}

.modren-living{
    position: absolute;
    width:55%;
    height: 550px;
    border: 15px solid rgb(255, 255, 255);
    object-fit: cover;
    border-radius: 40px;

}

.interior-design{

    position: absolute;
    border: 15px solid rgb(255, 255, 255);
    width: 55%;
    height: 550px;
    top: 17%;
    left: 37%;
    border-radius: 40px;

}

.five-card {
    border: 10px solid rgb(255, 255, 255);
    position: absolute;
    width: 38%;
    height: 200px;
    border-radius: 30px;
    left: 48%;
    top: 6%;
    z-index: 11111111;
    background-color: #264653;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-left: 40px;
}

.five-card h2{

    color: antiquewhite;
    font-size: 40px;
}

.five-card span{
    color: white;
    font-size: 22px;
    font-weight: bold;

}

.five-card p{
    color: rgb(209, 209, 209);
    font-size: 20px;
    font-weight: normal;

}

.five-right{
    width: 50%;
    /* border: 5px solid forestgreen; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
    padding: 60px 0px;
}

.five-right span{
    color: teal;
    font-weight: bolder;

}

.five-right h1{

    color: rgba(0, 0, 0, 0.703);
    font-size: 50px;
}

.five-right p{
    color: gray;
    font-size: 20px;
    font-weight:normal;

}

.five-right .spans {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 70%;
    height: 130px;
}

.spans span{
    color: rgba(128, 128, 128, 0.87);
    font-weight: normal;
    font-size: 20px;
    padding-left: 0px;
}


.line-section{
    /* border: 3px solid blueviolet; */
    width: 100%;
    height: 60px;
}

.line-section h2{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.694);

}

.line-section .line{
    width: 98%;
    height: 12px;
    background-color: rgb(231, 230, 230);
    border-radius:20px ;
    margin-top: 10px;
    overflow: hidden;

}

.line .line-1 {
    background-color:orangered;
    border-radius:20px ;
    width:90%;
    height: 12px;
    animation-name: line;
    animation-duration: 8s;
    animation-timing-function: all linear;
    animation-iteration-count:inherit;
    overflow: hidden;
}

@keyframes line{
    0%{
        transform: translateX(-650px);
        opacity: 1;
    }

    90%{
        transform: translateX(0px);
        opacity: 1;
    }
}

/* 2 */


.line-section-2{
    /* border: 3px solid blueviolet; */
    width: 100%;
    height: 60px;
}

.line-section-2 h2{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.694);
}

.line-section-2 .line{
    width: 98%;
    height: 12px;
    background-color: rgb(231, 230, 230);
    border-radius:20px ;
    margin-top: 10px;
    overflow: hidden;
}

.line .line-2 {
    background-color: orangered;
    border-radius:20px ;
    width:98%;
    height: 12px;
    animation-name: line;
    animation-duration: 8s;
    animation-timing-function: all linear;
    animation-iteration-count:inherit;
    overflow: hidden;
}

.five-right button{
    border: none;
    background-color: rgb(6, 173, 173);
    color: white;
    font-size: 17px;
    font-weight: 400;
    border-radius: 25px;
    padding: 15px 32px;

}

/* six-section-container */
.six-section-container {
    width: 100%;
    height: 100vh;
    /* border: 5px solid green; */
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.six-section-container span {
    color: rgb(12, 179, 179);
    font-size: 15px;
    font-weight:510;
}


.six-section-container h1 {
    color:rgba(0, 0, 0, 0.772);
    font-size: 50px;
    padding-top: 15px;
}

.six-section{
    width: 100%;
    height: 530px;
    border-radius: 30px;
    display: flex;
    flex-wrap:wrap;
    margin-top: 40px;
}
/* 1 */
.six-card-1{
    width: 33.3%;
    height: 50%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    border-top-left-radius: 30px;
    
}

.six-card-1 img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;

}

/* 2 */
.six-card-2{
    width: 33.3%;
    height: 50%;
    background-color: #264653;
}

.six-icons{
    /* border: 2px solid black; */
    width:100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.six-icons img{
    width: 10%;
    margin-top: 10%;
}

.six-text {
    /* border: 2px solid rgb(255, 255, 255); */
    width:100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.six-text h1{
    color: white;
    font-size: 27px;
}

.six-text p{
    color: rgb(206, 206, 206);
    font-size:20px;
    text-align: center;
    width: 80%;
}

/* 3 */
.six-card-3{
    width: 33.3%;
    height: 50%;
    border-top-right-radius: 30px;
    display: flex;
}


.six-card-3 img{
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 30px;

}

/* 4 */
.six-card-4{
    width: 33.3%;
    height: 50%;
    background-color: tomato;
    border-bottom-left-radius: 30px;
}

/* 5 */
.six-card-5{
    width: 33.3%;
    height: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.six-card-5 img{
    width: 100%;
    object-fit: cover;
}


.six-card-5 i {
    display: flex;
    position: absolute;
    color: teal;
    padding: 20px 22px;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    z-index: 1111111111111111111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    background-color: teal;
    /* z-index1111; */
    animation-name: box;
    animation-duration: 1.5s;
    animation-timing-function: all linear;
    animation-iteration-count: infinite;

}

.box2 {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    position: absolute;
    background-color: teal;
    /* z-index1111; */
    opacity: 0;
    animation-name: box;
    animation-duration: 1.8s;
    animation-timing-function: all linear;
    animation-iteration-count: infinite;

}

@keyframes box {
    0% {
        width: 1px;
        height: 1px;
        opacity: 1;
    }

    100% {
        width: 80px;
        height: 80px;
        opacity: .3;
    }

}


/* 6 */
.six-card-6{
    width: 33.3%;
    height: 50%;
    background-color: rgb(46, 161, 150);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 30px;
}

.six-card-6 span {
    color: rgba(255, 255, 255, 0.904);
    font-size: 22px;
    transition: .3s linear;


}

.six-card-6 span:hover{
    transform: translateY(-8px);
    color: #faeee7;
    transition: .3s linear;
}

/* seven-section-container */
.seven-section-container{
    width: 100%;
    height: 110vh;
    display:flex;
    padding: 0px 45px;
    background-color: rgb(247, 247, 247);
}

.seven-left{
    /* border: 5px solid crimson; */
    width: 62%;
    display: flex;
    position: relative;

}

.seven-left .seven-card {
    /* border: 4px solid darkviolet; */
    width: 64%;
    height:540px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    z-index: 1111111111;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
    margin-top:12%;
    padding: 0px 40px;
}

.seven-card span{

    color: rgb(11, 173, 173);
    font-weight: 550;
}

.seven-card h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.783);
    width: 100%;

}

.seven-card p{
    color: gray;
    font-size: 20px;
    width: 95%;
    font-weight: normal;

}

.seven-card button{
    background-color: rgb(6, 167, 151);
    color: white;
    font-size: 18px;
    padding: 14px 24px;
    border-radius: 30px;
    border: none;

}

.seven-left img{
    position: absolute;
    left: 40%;
    width: 60%;
}

.seven-right{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: relative;
    
}

.color{
    background-color: rgba(255, 228, 196, 0.676);
    width: 30%;
    position: absolute;
    height: 650px;
    left: 22%;
    border-bottom-right-radius: 90px;
    top: 0;
}
/* 1 */
.seven-card-1{
    /* border: 4px solid forestgreen; */
    width: 82%;
    margin-left: 6%;
    height: 120px;
    /* background-color: cadetblue; */
    z-index: 1111111111;
    display: flex;
    border-radius:50px ;

}
.seven-icons {
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    align-items:center;
    justify-content:center;

}
.seven-icons img{
    width: 35%;
    margin-left: 10%;
}

.seven-text {
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.seven-text h1{
    font-size: 21px;
    color: rgba(0, 0, 0, 0.719);

}

.seven-text p{
    font-size: 18px;
    color: gray;

}
/* 2 */
.seven-card-2{
    width: 82%;
    height: 120px;
    background-color: rgb(255, 255, 255);
    z-index: 1111111111;
    display: flex;
    margin-left: 6%;
    border-radius: 50px;

}

/* 3 */
.seven-card-3{
    width: 82%;
    height: 120px;
    z-index: 1111111111;
    display: flex;
    margin-left: 6%;
}

/* 4 */
.seven-card-4{
    width: 82%;
    height: 120px;
    z-index: 1111111111;
    display: flex;
    margin-left: 6%;
}

/* eight-section-container */
.eight-section-container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0px 50px;
    background-color: rgba(249, 249, 249, 0.452);
}

.eight-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.eight-left span{
    color: teal;
    font-size: 17px;
    font-weight: 540;
    padding-top: 30px;
}

.eight-left h1{
    font-size: 48px;
    width: 90%;
    color: rgba(0, 0, 0, 0.788);
}

.eight-left p{

    color: gray;
    font-size:19px;
    width: 100%;
}

.eight-left-card{
    width: 100%;
    height: 400px;
    margin-top: 6%;
    position: relative;
    display: flex;
}

.left-card-1 {
    border: 15px solid rgb(255, 255, 255);
    width: 85%;
    height: 300px;
    border-radius: 30px;
    margin-left: 6%;
    position: absolute;
     z-index: 111111111111111;
     display: flex;
     align-items: center;
     justify-content:center ;
     /* border-bottom: 15px solid white; */
}

.left-card-1 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.left-card-2{
    background-color:rgba(245, 210, 179, 0.454);
    width: 85%;
    height: 300px;
    position: absolute;
    border-radius: 30px;
    top: 15%;
    left: 0%;

}

/* .eight-right{
    border: 5px solid darkcyan;
    width: 50%;
} */

.eight-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 30px;
}

/* 1 */
.eight-card-1{
    /* border: 4px solid forestgreen; */
    width: 90%;
    margin-left: 6%;
    background-color: white;
    box-shadow:rgba(128, 128, 128, 0.183) 0px 5px 10px 2px;
    height: 120px;
    /* background-color: cadetblue; */
    z-index: 1111111111;
    display: flex;
    box-shadow: black;
    border-radius:25px ;

}
.eight-icons {
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    align-items:center;
    justify-content:center;

}
.eight-icons h1{
    font-size: 50px;
    color: gray;
}

.eight-text {
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.eight-text h1{
    font-size: 21px;
    color: rgba(0, 0, 0, 0.719);

}

.eight-text p{
    font-size: 18px;
    color: gray;

}

/* 2 */
.eight-card-2{
    /* border: 4px solid forestgreen; */
    width:90%;
    margin-left: 6%;
    box-shadow:rgba(128, 128, 128, 0.183) 0px 5px 10px 2px;
    height: 120px;
    /* background-color: cadetblue; */
    z-index: 1111111111;
    display: flex;
    border-radius:25px ;

}
.eight-icons {
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    align-items:center;
    justify-content:center;

}
.eight-icons h1{
    font-size: 50px;
    color: gray;
}

.eight-text {
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.eight-text h1{
    font-size: 21px;
    color: rgba(0, 0, 0, 0.719);

}

.eight-text p{
    font-size: 18px;
    color: gray;

}

/* 3 */
.eight-card-3 {
    /* border: 4px solid forestgreen; */
    width:90%;
    margin-left: 6%;
    border: 1px solid gray;
    height: 120px;
    /* background-color: cadetblue; */
    z-index: 1111111111;
    display: flex;
    border-radius:25px ;
    background-color: #264653;

}
.eight-card-3 .eight-icons {
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    align-items:center;
    justify-content:center;

}
.eight-card-3 .eight-icons h1{
    font-size: 50px;
    color: rgba(211, 211, 211, 0.267);
    
}


.eight-text {
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.eight-card-3 .eight-text h1{
    font-size: 21px;
    color: rgb(255, 255, 255);

}

.eight-card-3 .eight-text p{
    font-size: 18px;
    color: rgb(255, 255, 255);

}

/* 4 */
.eight-card-4{
    /* border: 4px solid forestgreen; */
    width:90%;
    margin-left: 6%;
    box-shadow:rgba(128, 128, 128, 0.183) 0px 5px 10px 2px;
    background-color: white;
    height: 120px;
    /* background-color: cadetblue; */
    z-index: 1111111111;
    display: flex;
    border-radius:25px ;

}

.eight-icons {
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    align-items:center;
    justify-content:center;

}
.eight-icons h1{
    font-size: 50px;
    color: rgba(211, 211, 211, 0.733);
    
}

.eight-text {
    /* border: 2px solid red; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}

.eight-text h1{
    font-size: 21px;
    color: rgba(0, 0, 0, 0.719);

}

.eight-text p{
    font-size: 18px;
    color: gray;

}

/* nine-section-container */
.nine-section-container{
    width: 100%;
    height: 130vh;
    display: flex;
    padding: 0px 40px;

}
/* left */
.nine-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    position: relative;

}

.nine-left span{
    color: rgb(5, 184, 184);
    font-weight:bolder;
    padding-top: 50px;
}

.nine-left h1{
    color: rgba(0, 0, 0, 0.776);
    font-size: 47px;
    width: 90%;
}

.nine-left p{
    color: rgba(128, 128, 128, 0.769);
    font-size: 19px;
    font-weight: lighter;
}

.nine-left button{
    background-color: rgb(5, 177, 177);
    font-size: 17px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    color: white;
    margin-top: 53%;
}

.nine-card{
    position: absolute;
    width: 125%;
    height: 320px;
    border-radius:30px ;
    background-color: rgb(247, 247, 247);
    z-index: 11111111111;
    top: 37%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.nine-icons{
    width: 60%;
    font-size: 25px;
}

.nine-card p{
    color: rgb(130, 130, 130);
    width: 90%;
    font-size: 20px;
}

.nine-text{
    width: 35%;
    height: 110px;
    display: flex;
}

.nine-text .img{
    width: 35%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img{
    width: 85%;
    height: 75%;
    object-fit: cover;
    border-radius: 50%;
}

.nine-text .text-1{
    width: 65%;
    height: 110px;
    gap:0px !important;
    padding-left: 20px;
}

.text-1 h1 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 29px;
}

.text-1 span{
    color: rgb(0, 185, 185);
    font-size: 22px;
    font-weight: normal;
}

/* right */
.nine-right{
    width: 50%;
    position: relative;
}

.designer{
    position: absolute;
    width: 45%;
    height:80%;
    border-radius: 30px;
    object-fit: cover;
    left: 5%;
}

.sofa{
    position: absolute;
    width: 45%;
    height: 370px;
    object-fit: cover;
    left: 54%;
    top: 5.5%;
    border-radius: 30px;
}

.woman{
    position: absolute;
    width: 45%;
    height: 370px;
    object-fit: cover;
    left: 54%;
    top: 50%;
    border-radius: 30px;
}

/* ten-section-container */
.ten-section-container{
    /* border: 5px solid rgb(46, 31, 249); */
    width: 100%;
    height:135vh;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.ten-section-container span{
    color: turquoise;
    font-size: 18px;
    font-weight: bolder;
}

.ten-section-container h1{
    color: rgba(0, 0, 0, 0.79);
    font-size: 50px;
}

.ten-section-cards{
    /* border: 4px solid red; */
    width: 100%;
    height: 120vh;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

/* 1 */
.ten-card-1 {
    /* border: 4px solid darkred; */
    width: 33%;
    height:110vh;
    border-radius: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: start;
    gap: 20px;
    transition: .2s linear;
    box-shadow: rgba(222, 222, 222, 0.242) 5px 5px 5px 5px;

}

.ten-card-1:hover{
    background-color: #264653;
    transition: .2s linear;
}

.ten-card-1 img {
    display: flex;
    height:460px;
    border-radius: 40px;
}

.ten-card-1 img:hover{
    transform:t;
}

.ten-card-1 h1{
    color: rgba(0, 0, 0, 0.824);
    font-size: 27px;
    width: 90%;
    padding-top: 17px;
    padding-left: 30px;
}

.ten-card-1:hover h1 {
    color: white;
}

.ten-card-1 p{
    font-size: 18px;
    color: gray;
    width: 85%;
    padding-left: 30px;
}


.ten-card-1:hover p {
    color: white;
}

.ten-card-1 button{
    color: white;
    background-color: rgb(19, 137, 125);
    padding: 15px 25px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    transition: .3s linear;

}

.ten-card-1 button:hover{
    background-color: white;
    color:black;
    transition: .3s linear;
}

/* 2 */
.ten-card-2{
    /* border: 4px solid rgb(63, 139, 0); */
    width: 33%;
    height: 110vh;
    border-radius: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: start;
    gap: 20px;
    transition: .2s linear;
    box-shadow: rgba(222, 222, 222, 0.242) 5px 5px 5px 5px;

}


.ten-card-2:hover{
    background-color: #264653;
    transition: .2s linear;
}

.ten-card-2 img {
    display: flex;
    height:460px;
    border-radius: 40px;
}

.ten-card-2 img:hover{
    transform:t;
}

.ten-card-2 h1{
    color: rgba(0, 0, 0, 0.824);
    font-size: 27px;
    width: 90%;
    padding-top: 17px;
    padding-left: 30px;
}

.ten-card-2:hover h1 {
    color: white;
}

.ten-card-2 p{
    font-size: 18px;
    color: gray;
    width: 85%;
    padding-left: 30px;
}


.ten-card-2:hover p {
    color: white;
}

.ten-card-2 button{
    color: white;
    background-color: rgb(19, 137, 125);
    padding: 15px 25px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    transition: .3s linear;

}
.ten-card-2 button:hover{
    background-color: white;
    color:black;
    transition: .3s linear;
}

/* 3 */
.ten-card-3{
    /* border: 4px solid rgb(0, 139, 111); */
    width: 33%;
    height: 110vh;
    border-radius: 40px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: start;
    gap: 20px;
    transition: .2s linear;
    box-shadow: rgba(222, 222, 222, 0.242) 5px 5px 5px 5px;

}



.ten-card-3:hover{
    background-color: #264653;
    transition: .2s linear;
}

.ten-card-3 img {
    display: flex;
    height:460px;
    border-radius: 40px;
}

.ten-card-3 img:hover{
    transform:t;
}

.ten-card-3 h1{
    color: rgba(0, 0, 0, 0.824);
    font-size: 27px;
    width: 90%;
    padding-top: 17px;
    padding-left: 30px;
}

.ten-card-3:hover h1 {
    color: white;
}

.ten-card-3 p{
    font-size: 18px;
    color: gray;
    width: 85%;
    padding-left: 30px;
}


.ten-card-3:hover p {
    color: white;
}

.ten-card-3 button {
    color: white;
    background-color: rgb(19, 137, 125);
    padding: 15px 25px;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    border: none;
    margin-left: 30px;
    transition: .3s linear;
}

.ten-card-3 button:hover{
    background-color: white;
    color:black;
    transition: .3s linear;
}

/* last-section-container */
.last-section-container{
    width: 100%;
    height: 95vh;
    background-color:teal;
    margin-top: 30px;
}

.last-our-section {
    width: 100%;
    height: 160px;
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 40px;

}

.last-our-section h1{
    color: rgba(0, 0, 0, 0.854);
    font-size: 37px;
}

.last-our-section input{
    width: 28%;
    height: 55px;
    padding-left: 20px;
    border-radius: 30px;
    border: none;
    color: rgb(186, 186, 186);
    font-size: 15px;
    margin-right: -20%;
    
}

.last-our-section button{
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: teal;
    padding: 18px 90px;
    border-radius: 30px;
    border: none;
}

.last-section{
    width: 100%;
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 40px;

}

.last-left{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.last-left h1{
    color: white;
    font-size: 28px;
}

.last-left p{

    color: rgb(243, 243, 243);
    font-size: 18px;
    width: 70%;
}

.last-icons-section{
    width: 90%;
    height: 50px;
    display: flex;
    gap: 20px;
    margin-bottom: 55px;
}

.last-icons-section i{
    font-size: 32px;
}

.last-right{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
/* one */
.last-one{
    width: 30%;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 20px;
}

.last-one h1{
    color: white;
    font-size: 26px;
}

.last-one ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last-one ul li{
    list-style: none;
}

.last-one ul li a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 18px;
}

/* two */
.last-two{
    width: 30%;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 20px;
}

.last-two h1{
    color: white;
    font-size: 26px;
}

.last-two ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last-two ul li{
    list-style: none;
}

.last-two ul li a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 18px;
}

/* three */
.last-three{
    width: 30%;
    height: 350px;
    display:flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 20px;
}

.last-three h1{
    color: white;
    font-size: 26px;
}

.last-three ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.last-three ul li{
    list-style: none;
}

.last-three ul li a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 18px;
}

.last-section-2{
    border-top: 1px solid rgba(255, 255, 255, 0.623);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-section-2 span{
    color: white;
}
